_____/\\\\\\\\\_____/\\\\\\\\\\\\\\\__/\\\\\\\\\\\\\\\____/\\\\\\\\\______/\\\\\\\\\\\__/\\\________/\\\_____/\\\\\\\\\\\___        
 ___/\\\\\\\\\\\\\__\/\\\///////////__\///////\\\/////___/\\\///////\\\___\/////\\\///__\/\\\_______\/\\\___/\\\/////////\\\_       
  __/\\\/////////\\\_\/\\\___________________\/\\\_______\/\\\_____\/\\\_______\/\\\_____\/\\\_______\/\\\__\//\\\______\///__      
   _\/\\\_______\/\\\_\/\\\\\\\\\\\___________\/\\\_______\/\\\\\\\\\\\/________\/\\\_____\/\\\_______\/\\\___\////\\\_________     
    _\/\\\\\\\\\\\\\\\_\/\\\///////____________\/\\\_______\/\\\//////\\\________\/\\\_____\/\\\_______\/\\\______\////\\\______    
     _\/\\\/////////\\\_\/\\\___________________\/\\\_______\/\\\____\//\\\_______\/\\\_____\/\\\_______\/\\\_________\////\\\___   
      _\/\\\_______\/\\\_\/\\\___________________\/\\\_______\/\\\_____\//\\\______\/\\\_____\//\\\______/\\\___/\\\______\//\\\__  
       _\/\\\_______\/\\\_\/\\\\\\\\\\\\\\\_______\/\\\_______\/\\\______\//\\\__/\\\\\\\\\\\__\///\\\\\\\\\/___\///\\\\\\\\\\\/___ 
        _\///________\///__\///////////////________\///________\///________\///__\///////////_____\/////////_______\///////////_____

